.sizespecbutton{
  border-radius: 10px;
  color:white;
  background-color: #9DBBD5;
  border:none;
  padding: 10px 30px;
  margin-top:40px;
  margin:20px;
  width:300px;
  height: 55px;
  font-size: 18px;
  box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.7);

}