.process-steps-container {
    width: 100%;
    min-height: 230px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .process-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px; /* 최대 너비 제한 */
    width: 80%; /* 화면이 너무 넓을 때 대비 */
    gap: 20px; /* 요소 간격 */
  }
  
  .step {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    flex: 1;
    height: 250px; /* 원하는 높이로 조절 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .step:hover {
    transform: scale(1.1); /* hover 시 10% 확대 */
  }
  
  .step:hover .circle::after {
    transform: translateY(-50%) translateX(5px); /* 화살표만 이동 */
    transition: transform 0.3s ease-in-out;
  }
  
  .step p {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }
  
  .step:last-child .circle::after {
    content: none; /* 마지막 step은 화살표 제거 */
  }
  
  .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgba(157, 187, 213, 1); /* 기본 색상 */
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  
  .circle::after {
    content: "➜";
    font-size: 32px;
    font-weight: bold;
    color: #4a6171;
    position: absolute;
    top: 50%;
    left: 100%; /* 오른쪽 바깥으로 */
    margin-left: 10px; /* 여백 */
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
  }

  .step:hover .circle::after {
    transform: translateY(-50%) translateX(5px);
  }
  
  .step:last-child .circle::after {
    content: none;
  }
  
  .step-link {
    text-decoration: none;
    color: inherit;
  }
  