.GoingContent {
    width: 347px;
    height: 248px;
    border: 2px solid #9ABCD4;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.GoingContent-title {
    font-family: 'DoHyeon';
    src: url('/src/fonts/DoHyeon/DoHyeon-Regular.ttf') format('truetype');
    margin-top: 35px;
}

.GoingContent-text {
    font-family: 'Noto Sans KR';
    src: url('/src/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

.GoingContent-btn {
    width: 302px;
    height: 35px;
}