@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
  padding: 15px;
  margin: 10px;
  width: 250px;
  height: 1100px;
  background-color: white;
  border-radius: 10px; 
  margin-top: 10px;
}

.sidebar h3 {
  font-size: 20px;
  white-space: nowrap;
  font-family: 'Do Hyeon', sans-serif;
  color: #799FC4;
  letter-spacing: 0.5px;
}

.sidebar ul {
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 5px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #9DBBD5;
  margin-top: 25px;
  margin-bottom: 30px; /* 항목들 사이 간격 추가 */
}

.sidebar ul li .step-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* 원의 너비 증가 */
  height: 40px; /* 원의 높이 증가 */
  border-radius: 50%;
  background-color: transparent;
  font-size: 18px; /* 원 안의 숫자 크기도 커지게 수정 */
  font-weight: bold;
  box-shadow: 0 0 0 1.3px #9DBBD5;
  line-height: 1;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.sidebar .active .step-circle {
  background-color: #9DBBD5;
  color: white;
}

.sidebar .active {
  font-weight: bold;
  color: #9DBBD5;
}

.sidebar hr {
  margin-bottom: 10px;
}