.WholeWrapper{
    /*background-color:pink ;*/
}
.LogoStuff{
    margin: 1%;
    /*background-color:skyblue;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.MenuBar{
    background-color:#799FC4;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}
.MenuBar > nav > ul > li{
    /*background-color: red;*/
    list-style: none;
    justify-content: center;
    line-height: 60px;
    text-align:center;
    display: inline-block; 
}
/*.MenuBar > nav > ul > li:not(:last-child) {
    border-right: 2px solid white;
}*/
.MenuBar > nav > ul > li:not(:last-child) {
    border-right: 2px solid white;
}
.MenuBar > nav > ul > li > a{
    width: 20vw;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight:bold;

}
.ContentsWrapper{
    /*background-color:red;*/
    margin: 20px;
}
.ActiveInfo{
    background-color:blue;
    align-items: center;
    display: flex;
    justify-content: center;
}
.StaticInfo{
    /*background-color:yellow;*/
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: solid none none none;



}
.Buttons1{
    
}
.ButtonAtLogo{
    border-radius: 10px;
    color:#fff;
    background-color: #9DBBD5;
    border:none;
    padding: 10px 20px;
    margin:5px;
    width:auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
}
.shortcutimage{
    width: 100%;  /* 가로 너비를 100%로 설정 */
    height: 100%;  /* 세로 높이를 100%로 설정 */
    object-fit: cover; /* 이미지를 잘라서 가득 채우도록 설정 */
}
.ImageSell{
    width:2000px;
    height:700px;
    overflow:hidden;
    margin:0 auto;
    display: inline-block;
    border-radius: 40px;

    
  
}
.ContentSell{
    background-color: white;
    width:1500px;
    height:1000px;
    display: flex;
    margin-left:50px;
    margin-right:50px;
    padding: 20px;
    border-radius: 40px;
    border-style: solid;
    

    
  
}
.ImageSellleft{
    width:1000px;
    height:700px;
    overflow:hidden;
    margin:0 auto;
    display: inline-block;
    margin-right: 20px;
    border-radius: 40px;

}
.ImageSellright{
    width:1000px;
    height:700px;
    overflow:hidden;
    margin:0 auto;
    display: inline-block;
    margin-left: 20px;
    border-radius: 40px;


  
}
.Content2{
    display: flex;
   background-color: grey;
   padding:20px

}
.Content3{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}