.login {
    text-align: center;
}

.input-text, .input-password, .input-email, .input-tel, .input-birthdate, .input-name, .input-gender {
    width: 100%;
    border-width: 0 0 1px;
    padding: 8px 0;
}

.inputinfo {
    text-align: left;
    font-size: 14px;
    color: #696565;
    margin: 20px;
}

.divmmmm {
    padding: 30px;
    width: 414.906px;
    height: auto;
}

.mpbutton {
    width: 375px;
    height: 52px;
    background-color: #BFD7EE;
    border-style: none;
    color: white;
    font-size: 20px;
}

.gender-options {
    display: flex;
    gap: 10px;
    align-items: center;
}
