.design-container {
  display: flex;
  align-items: flex-start; /* 위쪽 정렬 */
  /* gap: 20px; 간격 조정 */
  padding: 20px;
}

.design-step {
  font-size: 13px;
  line-height: 1.5; /* 줄 간격 조절 */
  word-break: keep-all; /* 줄바꿈 최소화 */
  margin-top: -20px;
  margin-left: 13px;
}

.design-step div{
  font-weight: bolder;
  font-size: 14px;
}

.design-step h2{
  font-size: 14px;
}

.header h1 {
  color: white;
  font-size: 1.5rem;
}

.step-list {
  margin-top: 20px; /* 위쪽 여백 추가 */
  margin-bottom: 15px; /* 아래쪽 여백 추가 */
  line-height: 1.6; /* 줄 간격 증가 */
}

.nav-links {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 1.5rem; /* 간격 조정 */
  width: 100%; /* 전체 너비 사용 */
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #799fc4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-links button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #799fc4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border-radius: white; */
}

.nav-links button:hover,
.nav-links a:hover {
  background-color: #5d8cb1;
}

.layout1 {
  display: flex; /* 가로 정렬 */
  width: 100%;
}

.layout1 .sidebar {
  margin-right: auto;
}

.layout1 .content1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 18px;
  margin-bottom: 33px;
  padding-bottom: 0px;
  padding-right: 150px;
  padding-left: -50px;
  background: #fff;
  border-radius: 10px; /* 모서리 둥글게 */
  width: 80%;
  max-width: 100%; /* 최대 너비 설정 */
  height: 1000px;
}

/* 하단 버튼 */
.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}