.DesignerPorfol{
    width: 169px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.DesignerImg{
    width: 169px;
    height: 183px;
    background-color: #9ABCD4;
}

.DesignerPorfol-title {
    font-family: 'DoHyeon';
    src: url('/src/fonts/DoHyeon/DoHyeon-Regular.ttf') format('truetype');
    font-size: 0.8rem;
}

.DesignerPorfol-text{
    font-family: 'Noto Sans KR';
    src: url('/src/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype');
    font-size: 0.7rem;
}