.mainbaroo {
  color: #fff;
  background-color: #799FC4;
  border: none;
  padding: 0.625rem 1.875rem; /* 10px 30px */
  width: 28.125rem; /* 450px */
  height: 3.4375rem; /* 55px */
}

.divmm {
  text-align: center;
}

.divm-wrapperr {
  display: flex;
  justify-content: center;
  height: auto;
}

.mainbaroo2 {
  border-radius: 50%; /* 둥근 원 모양 */
  color: #5C5C5C;
  background-color: #ffcc00; /* 예시 배경색 */
  border: none;
  padding: 0.3125rem; /* 5px */
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuBarr {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.375rem; /* 6px */
}

.MenuBarr > nav > ul > li {
  list-style: none;
  justify-content: center;
  line-height: 1.25rem; /* 20px */
  text-align: center;
  display: inline-block;
}

.MenuBarr > nav > ul > li:not(:last-child) {
  border-right: 0.125rem solid black; /* 2px */
}

.MenuBarr > nav > ul > li > a {
  width: 6.25rem; /* 100px */
  text-decoration: none;
  display: block;
  color: black;
  font-size: 0.625rem; /* 10px */
  font-weight: bold;
}

.extra-sectionn {
  width: 37.5rem; /* 600px */
  text-align: center;
  padding: 0.625rem; /* 10px */
  margin-top: 1.875rem; /* 30px */
}

.extra-sectionn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.25rem; /* 20px */
  gap: 0.625rem; /* 10px */
}

.loginWrapper {
  border-color: black;
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); /* 2px 2px 5px */
  background-color: white;
  width: 37.5rem; /* 600px */
  height: auto;
  min-height: 37.5rem; /* 600px */
  margin: 0 auto;
  margin-top: 6.25rem; /* 100px */
}

.loginput1 {
  width: 28.4375rem; /* 455px */
  height: 3.125rem; /* 50px */
  margin: 0.1875rem; /* 3px */
  border-radius: 0.3125rem; /* 5px */
  border: 1px solid #ccc;
}

.loginput2 {
  width: 28.75rem; /* 460px */
  height: 3.4375rem; /* 55px */
  margin: 0.1875rem; /* 3px */
  border-radius: 0.3125rem; /* 5px */
  border: 1px solid #ccc;
}
