.mainbaroo{
    color:#fff;
    background-color: #799FC4;
    border:none;
    padding: 10px 30px;
    width: 450px;
    height: 55px;
  }

  .divmm{
    text-align: center;  

  }

  .divm-wrapperr {
    display: flex; 
    justify-content: center;
    height: auto;
    
}
  .mainbaroo2{
    border-radius: 10px;
    color:#5C5C5C;
    background-color: #9DBBD5;
    border:none;
    padding: 5px;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffcc00; /* 예시 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

.MenuBarr{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.MenuBarr > nav > ul > li{
    /*background-color: red;*/
    list-style: none;
    justify-content: center;
    line-height: 20px;
    text-align:center;
    display: inline-block;
}
/*.MenuBar > nav > ul > li:not(:last-child) {
    border-right: 2px solid white;
}*/
.MenuBarr > nav > ul > li:not(:last-child) {
    border-right: 2px solid black;
}
.MenuBarr > nav > ul > li > a{
    width: 100px;
    text-decoration: none;
    display: block;
    color: black;
    font-size:10px;
    font-weight:bold;

}
.extra-sectionn {
    width: 600px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;  
}

.extra-sectionn-btn {
    display: flex;
    flex-direction: row; /* 가로 방향으로 정렬 */
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */
    padding: 20px;
    gap: 10px; /* 버튼 사이의 간격 */
  }  

.loginWrapper{
    border-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    
    width: 600px;
    height: auto;
    min-height: 600px;
    margin : 0 auto;
    margin-top: 100px;
}
.loginput{
    width:450px;
    height:50px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid #535353;
}