body {
  background-color: #FAFAFB;
}

.content {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px; /* 모서리 둥글게 */
  margin: 0 auto;
  margin-left: 15px;
  padding-right: 30px;
  width: 1220px;
}

.breadcrumb {
  font-size: 13px;
  color: #555;
}

.breadcrumb a {
  text-decoration: none;
  color: #555; /* 기본 텍스트 색상 검정 */
}

.breadcrumb a.default {
  color: #555; /* 기본 항목은 검정색 */
}

.breadcrumb a.final-confirmation {
  color: #799FC4; /* '최종확인'만 파란색으로 강조 */
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.text1 {
text-indent: 30px; /* 들여쓰기 */
font-weight: 200; /* 기본보다 얇게 */
}

input[type="text"] {
  width: 300px; 
  border-radius: 5px; /* 모서리 */
  padding: 5px; 
  border: 1px solid #ccc;
}   

.options p {
  margin: 0; 
}

.design-name {
  color: #696565;
}

.design-name .required {
  color: #FF0000; /* 별표(*)의 색상->빨간색으로 설정 */
}

.options{
  color: #696565;
}

.design-preview {
  display: flex;
  gap: 20px;
  align-items: center;
}

.design-preview img {
  width: 500px;
  height: 550px;
  margin-top: 20px;
}

table {
  width: 100%;
  height: 300px;
  max-width: 500px;
  margin: 0 auto;
  border-collapse: separate; /* 기본적으로 table은 셀 간 경계를 분리할 수 있도록 설정 */
  border-spacing: 10; /* 셀 간격 없애기 */
  border-radius: 10px; /* 테이블 모서리 둥글게 */
  overflow: hidden; /* 둥근 모서리를 잘라서 보기 좋게 처리 */
}

th {
  background-color: #9DBBD5; /* 헤더 배경 색상 (파란색으로 설정, 원하는 색으로 변경 가능) */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  padding: 10px; /* 셀 안쪽 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

td {
  padding: 10px; /* 데이터 셀 안쪽 여백 */
  background-color: F2F2F2;
}

td:nth-child(1) {
  background-color: #9DBBD5;
  color: white; 
  padding: 10px;
  text-align: center; 
}

td:nth-child(2) {
  background-color: #9DBBD5;
  color: white; 
  padding: 10px;
  text-align: center; 
}

th, td {
  border: 1px solid #F2F2F2;
  padding: 8px;
  text-align: center;
  border: none;
}

.button-group {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex; /* Flexbox로 배치 */
  justify-content: center; /* 가로로 가운데 정렬 */
  gap: 10px; /* 버튼들 사이에 간격을 추가 */ 
}

.button-group button {
  width: 200px;
  height: 40px;
  background-color: #799FC4;
  border: none; /* 버튼의 테두리 없애기 */
  color: #fff;  /* 버튼 안의 글자 색상을 흰색으로 변경 */
  border-radius: 10px;
}

.back-btn, .save-btn {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}  