.progress-container {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.progress-title {
  width: auto;
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
}

.progress-content {
  display: flex;
  width: 100%;
}

.progress-contract {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contract-with-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.status-image-container {
  
  width: 100%; /* ContractItem 너비와 동일 */
  display: flex;
  flex-direction: column;
  
}

.status-images {
  display: flex;
  width: 100%; /* ContractItem 너비와 동일 */
  align-items: center;
  
}

.status-image {
  flex: 1; /* 각 이미지가 동일한 너비 차지 */
  max-width: calc(100% / 4);
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
  margin: 0 5px; /* 이미지 간 간격 */
}

.status-image.active {
  opacity: 1;
  border: solid 5px #007bff;;
  border-radius: 4px ;

  
}

.status-image.inactive {
  opacity: 0.4;
  filter: grayscale(50%);
  
}

.progress-text-container {
  display: flex;
  
}
.status-item {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
