<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Loginpj.mapper.ChContractMapper">

    <update id="updateStatus" parameterType="map">
	    UPDATE CONTRACTS
	    SET STATUS = #{status}
	    WHERE CONTRACT_ID = #{contractId}
	</update>

</mapper>
