.FindWithDesignSearchBar{
    border-width: 0;
    border:none;
    margin-left:10px;
}
.FindWithDesignSearchBar:focus {
    outline:none;
}
.FindWithDesign{
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    width: 300px;
    height: 25px;
    display:flex;
    padding:0;
    
    
}
.no-border {
    border-width: 0;
  }
  .SearchDrop{
    margin: 0px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 10px;
    height: 25px;
    width:70px;

  }
  