.StaticInfo {
    background-color: #4A6171;
    font-family: 'Noto Sans KR';
    src: url('/src/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype');
    color: #fff;
    border: none;
}