<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Loginpj.mapper.UserDesignMapper">

<select id="findByUserId" parameterType="string" resultType="com.example.Loginpj.model.UserDesign">
  SELECT
    design_id AS designId,
    username,
    clothing_type AS clothingType,
    fabric AS fabricJson,
    sizee AS size,
    design_name AS designName,
    colors AS colorsJson,
    created_at AS createdAt,
    category
  FROM
    user_design
  WHERE
    username = #{username}
</select>

  <insert id="insertUserDesign" parameterType="com.example.Loginpj.model.UserDesign">
    <selectKey keyProperty="designId" resultType="long" order="BEFORE">
      SELECT user_design_seq.NEXTVAL FROM dual
    </selectKey>

    INSERT INTO user_design (
      design_id,
      username,
      clothing_type,
      fabric,
      sizee,
      design_name,
      colors,
      created_at,
      category
    ) VALUES (
      #{designId, jdbcType=NUMERIC},
      #{username, jdbcType=VARCHAR},
      #{clothingType, jdbcType=VARCHAR},
      #{fabricInsertJson, jdbcType=VARCHAR},
      #{size, jdbcType=VARCHAR},
      #{designName, jdbcType=VARCHAR},
      #{colorsInsertJson, jdbcType=CLOB},
      SYSDATE,
      #{category, jdbcType=VARCHAR}
    )
  </insert>

</mapper>
